hydragnn/utils/thesis_work/tensors
*DS_Store
__pycache__
*.egg-info
dist/
dataset/
logs/
serialized_dataset/
/hydragnn/utils/thesis_work/tensors/
debug_file.py
hydragnn/utils/thesis_work/tensors/random_v_0.pt
hydragnn/utils/thesis_work/tensors/random_v_1.pt
hydragnn/utils/thesis_work/tensors/random_v_2.pt
hydragnn/utils/thesis_work/tensors/random_v_3.pt
hydragnn/utils/thesis_work/tensors/random_v_4.pt
hydragnn/utils/thesis_work/tensors/random_v_5.pt
hydragnn/utils/thesis_work/tensors/random_v_6.pt
hydragnn/utils/thesis_work/tensors/random_v_7.pt
hydragnn/utils/thesis_work/tensors/random_v_8.pt
hydragnn/utils/thesis_work/tensors/random_v_9.pt
examples/FreeFEM/test.py
/hydragnn/FreeFEM/freeFEM_results/
